<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.hufeifei.mediaplayer">
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <!-- 启动界面 -->
        <activity
            android:name=".activity.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 系统播放器界面 -->
        <activity
            android:name=".activity.SysMediaPlayerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/NoAnimationTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="x-midata/video"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="rtsp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="video/mpeg4"/>
                <data android:mimeType="video/mp4"/>
                <data android:mimeType="video/3gp"/>
                <data android:mimeType="video/3gpp"/>
                <data android:mimeType="video/3gpp2"/>
                <data android:mimeType="video/webm"/>
                <data android:mimeType="video/3g2b"/>
                <data android:mimeType="video/m4v"/>
                <data android:mimeType="video/avi"/>
                <data android:mimeType="video/x-flv"/>
                <data android:mimeType="video/x-matroska"/>
                <data android:mimeType="video/quicktime"/>
                <data android:mimeType="video/MP2T"/>
                <data android:mimeType="video/mpeg"/>
                <data android:mimeType="video/x-msvideo"/>
                <data android:mimeType="video/x-ms-wmv"/>
                <data android:mimeType="video/x-ms-asf"/>
                <data android:mimeType="video/x-pn-realvideo"/>
                <data android:mimeType="application/sdp"/>
                <data android:mimeType="video/mp2p"/>
                <data android:mimeType="video/mp2ts"/>
                <data android:mimeType="video/x-matroska"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.mov"/>
                <data android:pathPattern=".*\\.MOV"/>
                <data android:pathPattern=".*\\.3gp"/>
                <data android:pathPattern=".*\\.3GP"/>
                <data android:pathPattern=".*\\.m4a"/>
                <data android:pathPattern=".*\\.3g2"/>
                <data android:pathPattern=".*\\.mj2"/>
                <data android:pathPattern=".*\\.wmv"/>
                <data android:pathPattern=".*\\.WMV"/>
                <data android:pathPattern=".*\\.ts"/>
                <data android:pathPattern=".*\\.TS"/>
                <data android:pathPattern=".*\\.f4v"/>
                <data android:pathPattern=".*\\.F4V"/>
                <data android:pathPattern=".*\\.mpeg"/>
                <data android:pathPattern=".*\\.MPEG"/>
                <data android:pathPattern=".*\\.mpe"/>
                <data android:pathPattern=".*\\.m1v"/>
                <data android:pathPattern=".*\\.mp2"/>
                <data android:pathPattern=".*\\.mp3"/>
                <data android:pathPattern=".*\\.mod"/>
                <data android:pathPattern=".*\\.wma"/>
                <data android:pathPattern=".*\\.vob"/>
                <data android:pathPattern=".*\\.VOB"/>
                <data android:pathPattern=".*\\.ogg"/>
                <data android:pathPattern=".*\\.OGG"/>
                <data android:pathPattern=".*\\.divx"/>
                <data android:pathPattern=".*\\.DIVX"/>
                <data android:pathPattern=".*\\.qt"/>
                <data android:pathPattern=".*\\.QT"/>
                <data android:pathPattern=".*\\.pfv"/>
                <data android:pathPattern=".*\\.PFV"/>
                <data android:pathPattern=".*\\.flv"/>
                <data android:pathPattern=".*\\.FLV"/>
                <data android:pathPattern=".*\\.mkv"/>
                <data android:pathPattern=".*\\.MKV"/>
                <data android:pathPattern=".*\\.avi"/>
                <data android:pathPattern=".*\\.AVI"/>
                <data android:pathPattern=".*\\.asf"/>
                <data android:pathPattern=".*\\.ASF"/>
                <data android:pathPattern=".*\\.m4v"/>
                <data android:pathPattern=".*\\.M4V"/>
                <data android:pathPattern="/.*\\.mp4"/>
                <data android:pathPattern=".*\\.MP4"/>
                <data android:pathPattern=".*\\.webm"/>
                <data android:pathPattern=".*\\.WEBM"/>
                <data android:pathPattern=".*\\.mpg"/>
                <data android:pathPattern=".*\\.MPG"/>
                <data android:pathPattern=".*\\.dat"/>
                <data android:pathPattern=".*\\.DAT"/>
                <data android:pathPattern=".*\\.vstream"/>
                <data android:pathPattern=".*\\.VSTREAM"/>
                <data android:pathPattern=".*\\.ogv"/>
                <data android:pathPattern=".*\\.OGV"/>
                <data android:pathPattern=".*\\.dv"/>
                <data android:pathPattern=".*\\.DV"/>
                <data android:pathPattern=".*\\.3gpp"/>
                <data android:pathPattern=".*\\.3GPP"/>
                <data android:pathPattern=".*\\.h264"/>
                <data android:pathPattern=".*\\.H264"/>
                <data android:pathPattern=".*\\.h261"/>
                <data android:pathPattern=".*\\.H261"/>
                <data android:pathPattern=".*\\.h263"/>
                <data android:pathPattern=".*\\.H263"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:mimeType="audio/x-mpegurl"/>
                <data android:mimeType="audio/mpegurl"/>
                <data android:mimeType="application/vnd.apple.mpegurl"/>
                <data android:mimeType="application/x-mpegurl"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.VOB"/>
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.vob"/>
                <data android:pathPattern=".*\\.m3u8"/>
            </intent-filter>
        </activity>
        <!-- Vitamio初始化界面 -->
        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- Vitamio播放器界面 -->
        <activity
            android:name=".activity.VitamioPlayerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/NoAnimationTheme"/>
        <!-- 音乐播放器界面 -->
        <activity
            android:name=".activity.MusicPlayerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <!-- 搜索界面 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.MusicPlayService"/>

    </application>

</manifest>